# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

In [2]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'

### Step 3. Assign it to a variable called chipo.

In [3]:
chipo = pd.read_csv(url, sep = '\t')

In [9]:
chipo.head(5)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

### Step 4. How many products cost more than $10.00?

In [27]:
ttl = chipo.item_price.apply(lambda x: float(x[1:]))/chipo.quantity
len(chipo[ttl > 10].item_name.drop_duplicates())

25

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [33]:
chipo["ttl"] = chipo.item_price.apply(lambda x: float(x[1:]))/chipo.quantity

### Step 6. Sort by the name of the item

In [30]:
chipo.sort_values(["item_name"], ascending = False)

,order_id,quantity,item_name,choice_description,item_price
3889,1559,2,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Black Beans, Rice...",$16.98
2851,1132,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",$8.49
738,304,1,Veggie Soft Tacos,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.25
1395,567,1,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",$8.49
2384,948,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$8.75
...,...,...,...,...,...
1916,774,1,6 Pack Soft Drink,[Diet Coke],$6.49
1124,465,1,6 Pack Soft Drink,[Coke],$6.49
3789,1517,1,6 Pack Soft Drink,[Diet Coke],$6.49
1392,566,1,6 Pack Soft Drink,[Diet Coke],$6.49
3614,1448,1,6 Pack Soft Drink,[Nestea],$6.49

### Step 7. What was the quantity of the most expensive item ordered?

In [50]:
me = chipo.sort_values(["ttl", "item_name"], ascending=False).iloc[0,]["item_name"]
chipo[chipo.item_name == me]["quantity"].sum()

31

### Step 8. How many times were a Veggie Salad Bowl ordered?

In [53]:
len(chipo[chipo.item_name == "Veggie Salad Bowl"])

18

### Step 9. How many times people orderd more than one Canned Soda?

In [55]:
len(chipo[chipo.item_name == "Canned Soda"][chipo.quantity >= 2])

C:\Users\xqfay\Anaconda\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

20