In [ ]:
import sqlite3
import pandas as pd

In [ ]:
#q1 在当前目录创建一个名为grade.db的数据库文件，并用sqlite3 module创建与文件的连接

In [ ]:
conn = sqlite3.connect("grade.db")

In [ ]:
#q2 创建一个表格记录学生成绩信息，需要包括：学号  姓名  成绩 科目四列

In [ ]:
cursor = conn.cursor()
sql = "create table student(id int, name text, grade int, subject text)"
cursor.execute(sql)

In [ ]:
#q3 向表中插入20条数据, 至少包括如下一条：
# 101 张三 -1 语文

In [ ]:
insert into table_name values (101, "张三", -1, "语文")
"insert into table_name values (?,?,?,?)", 101, "张三", -1, "语文" 
insert into table_name (xuehao, xingming) values ('101', '张三')

In [ ]:
data = [(101, "张三", -1, "语文"),
        (202, "李四", 0, "数学"),
        (0, "程0峰", 100, "人体科学"),
        (0, "程0峰", -5, "我为什么还没有男朋友"),
        (1, "景晨", 1, "我为什么还没有男朋友"),
        (100, "将以滚", 0, "老女人的自我修养")
       ]
#conn = sqlite3.connect("grade.db")
conn.executemany("insert into student values (?,?,?,?)", data)

In [ ]:
#q4 查询人体科学成绩大于60分的学生的姓名和对应科目

In [ ]:
cursor = conn.cursor()
cursor.execute("select name, subject from student where subject == '人体科学' and grade > 60")
values = cursor.fetchall()

In [ ]:
print(values)

In [ ]:
#q5 查询平均成绩小于60分的学生的姓名和学号

In [ ]:
cursor.execute("select name, id, avg(grade) as a from student group by id having a < 60")
clf = cursor.fetchall()
print(clf)

In [ ]:
#q6 把成绩小于60分的学生的成绩根据如下公式修改成绩：
#   新成绩 = sqrt(原成绩) * 10

In [ ]:
import numpy as np

In [ ]:
df = pd.read_sql("select * from student", conn)
np.sqrt(df["grade"]) * 10

In [ ]:
update student set grade = sqrt(grade) * 10 where grade < 60

In [ ]:
#q7 查询姓“张”的人的所有信息

In [ ]:
#q8 将成绩小于0的记录中的成绩改为0

In [ ]:
#q9 删除成绩为0的记录

In [ ]:
#q10 再创建一个学生性别表，包含学号 性别 两列，并练习外键约束