In [2]:
import sqlite3
import pandas as pd

In [3]:
#q1 在当前目录创建一个名为grade.db的数据库文件，并用sqlite3 module创建与文件的连接

In [4]:
con = sqlite3.connect("grade.db")

In [ ]:
#q2 创建一个表格记录学生成绩信息，需要包括：学号  姓名  成绩 科目四列

In [6]:
con.execute('''
create table tb(
xuehao  int  primary key not null,
name    text not null,
grade   real, 
subject text); 
''')

In [ ]:
#q3 向表中插入20条数据, 至少包括如下一条：
# 101 张三 -1 语文

In [12]:
con.execute('''
insert into tb values (101, '张三', -1, '语文');
''')

In [14]:
con.execute('''
insert into tb values (102, '李四', 80, '语文');
''')

In [ ]:
#q4 查询语文成绩大于60分的学生的姓名和对应科目

In [18]:
#con.execute("SELECT name, subject from tb where grade > 60 and subject = '语文' ")
result = pd.read_sql("SELECT name, subject from tb where grade > 60 and subject = '语文' ", con)
result

  name subject
0   李四      语文

In [ ]:
#q5 查询平均成绩小于60分的学生的姓名和学号

In [26]:
pd.read_sql("SELECT name, xuehao, avg(grade) as g from tb where g < 60 group by name;", con)

DatabaseError: Execution failed on sql 'SELECT name, xuehao, avg(grade) as g from tb where g < 60 group by name;': misuse of aggregate: avg()

In [ ]:
#q6 把成绩小于60分的学生的成绩根据如下公式修改成绩：
#   新成绩 = sqrt(原成绩) * 10

In [ ]:
# 用上pd.read_sql来完成

In [ ]:
#q7 查询姓“张”的人的所有信息

In [ ]:
# 用上like或glob匹配正则表达式

In [ ]:
#q8 将成绩小于0的记录中的成绩改为0

In [ ]:
# 用上update

In [ ]:
#q9 删除成绩为0的记录

In [ ]:
#q10 再创建一个学生性别表，包含学号 性别 两列，并练习外键约束

In [ ]:
学生性别表，包含学号  性别

In [ ]:
学生成绩信息，需要包括：学号  姓名  成绩  科目