# String

In [25]:
str1 = "hello, world, hello"

In [26]:
str1 -= "o"

TypeError: unsupported operand type(s) for -=: 'str' and 'str'

In [2]:
len(str1)

19

In [13]:
str1[str1.find("ld")+len("ld"):]

', hello'

In [17]:
for i in range(len(str1)):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18

In [16]:
for i in str1:
    print(i)

h
e
l
l
o
,

w
o
r
l
d
,

h
e
l
l
o

In [20]:
#https://docs.python.org/3/library/stdtypes.html#string-methods
#str1.find("hello")
#str1.find("hello", 1)

14

# List

In [27]:
list1 = [5,2,3]

In [28]:
list1.append(4)
list1

[5, 2, 3, 4]

In [29]:
list1.pop()

4

In [30]:
list1

[5, 2, 3]

In [31]:
list1.pop(1)

2

In [32]:
list1

[5, 3]

In [34]:
list1.sort(reverse=True)#
list1

[5, 3]

In [35]:
list2 = ["1", 5, {"a": 9}, [0], (1,2,3), set({1,2,3,2})]

In [36]:
list2[3].append(5)
list2

['1', 5, {'a': 9}, [0, 5], (1, 2, 3), {1, 2, 3}]

# set

In [116]:
set1 = set({1,2,3})
type(set1)

set

In [47]:
set2 = {1,2,3}
type(set2)
set2

{1, 2, 3}

In [51]:
list(set([1,2,3,1]))

[1, 2, 3]

# dict

In [39]:
dict1 = {"key1":"value1", "key2":"value2"}

In [64]:
dict2 = {"key1": 1}
dict2_ = {(1,2): "1"}

In [43]:
dict3 = {"key1":1, "key2":"2", "key3":[3], "key4":set({4}), "key5":{"key6":(6,7)} }

### How to reverse a dict

In [54]:
# Method 1
dict([(v,k) for (k,v) in dict1.items()])
#dict([(v,k) for (k,v) in dict1.items()])

{'value1': 'key1', 'value2': 'key2'}

In [57]:
# Method 2
dict(zip(dict1.values(), dict1.keys()))

{'value1': 'key1', 'value2': 'key2'}

In [58]:
# Method 3
from itertools import zip_longest
dict(zip_longest(dict1.values(), dict1.keys()))

{'value1': 'key1', 'value2': 'key2'}

# tuple

In [59]:
tuple1 = (1,2,3)
type(tuple1)

tuple

In [63]:
tuple1[1]

2

In [66]:
tuple2 = ("a", 1, [1,2])
tuple2

('a', 1, [1, 2])

In [67]:
tuple2[2].append(1)

In [68]:
tuple2

('a', 1, [1, 2, 1])

In [74]:
*[1,2,3]

SyntaxError: can't use starred expression here (<ipython-input-74-63179bdb9a80>, line 4)

In [ ]:
"What's the difference between * and **?"

# String Formatting

In [75]:
"{}, {}. {}".format("a", "b", "c")

'a, b. c'

In [76]:
"{}:{}:{}".format(*("2020", "01", "02"))

'2020:01:02'

In [77]:
"{1} {0} {2} {0}".format("hello", "world", "!")

'world hello ! hello'

In [78]:
"姓名:{name}, 年龄:{age}".format(name="hao", age=22)

'姓名:hao, 年龄:22'

In [80]:
"姓名:{name}, 年龄:{age}".format(**{"name":"hao", "age":22})

'姓名:hao, 年龄:22'

In [81]:
"姓名:{0[0]}, 年龄:{1[1]}".format(["hao", 22], ["ke", 26])

'姓名:hao, 年龄:26'

In [85]:
print("{:.2f}".format(3.1415926))

3.14

In [88]:
print("{:>5d}".format(1))

    1

In [91]:
print("{:0>6.2f}".format(3.145))

003.15

In [92]:
print("{:x<6.3f}".format(6.0))

6.000x

In [97]:
print("{:-,}".format(-1000000))

-1,000,000

In [98]:
print("{:+.5%}".format(0.25))

+25.00000%

In [99]:
print("{:.2e}".format(1500000))

1.50e+06

In [106]:
print("{:*^10.1f}".format(5.15))

***5.2****

In [101]:
print('{:b}'.format(11))

1011

In [102]:
print('{:x}'.format(11))

b

In [103]:
print("{{hello}}, {}".format("world"))

{hello}, world

In [104]:
"Today is %s" % "2nd Jan 2020"

'Today is 2nd Jan 2020'

In [1]:
print("string:%.2s, int:%i or %-10d, float:%10.2f, " %("hello", 1, 10, 2.115))

string:he, int:1 or 10        , float:      2.12,

In [107]:
# dynamic string format template
string = "{:{fill}{align}{width}}"

# passing format codes as arguments
print(string.format('cat', fill='*', align='^', width=5))

*cat*

In [108]:
# dynamic float format template
num = "{:{align}{width}.{precision}f}"

# passing format codes as arguments
print(num.format(123.236, align='<', width=8, precision=2))

123.24

In [109]:
print("Quotes: {0!r}, Without Quotes: {0!s}".format("cat"))

Quotes: 'cat', Without Quotes: cat