# String

In [6]:
from datetime import datetime


def get_days(source):
    """aADSAD
    Inputs:
      source:asdasd string in format 'YYYY-mm-dd HH:MM:SS', base time
    aaada
    Returnas:
      res.days: an integer, which indicates the days between this moment and source date
    """
    this_moment = datetime.strptime("2019-10-23 20:00:00", '%Y-%m-%d %H:%M:%S')
    source_date = datetime.strptime(source, '%Y-%m-%d %H:%M:%S')
    res = this_moment - source_date
    return res.days

0.0015926529164868282

In [17]:
str1 = "hello"

In [18]:
len(str1)

5

In [ ]:
str1[str1.find("ld")+len("ld"):]

In [19]:
for i in range(len(str1)):
    print(i)

0
1
2
3
4

In [21]:
"zero" < "999"

False

In [ ]:
#https://docs.python.org/3/library/stdtypes.html#string-methods
#str1.find("hello")
#str1.find("hello", 1)

# List

In [32]:
list1 = [5,2,3]

In [33]:
list1.append(4)
list1

[5, 2, 3, 4]

In [34]:
list1.pop()

4

In [35]:
list1

[5, 2, 3]

In [36]:
list1.pop(1)

2

In [37]:
list1

[5, 3]

In [40]:
list1.sort(reverse=True)#
list1

[5, 3]

In [41]:
list2 = ["1", 5, {"a": 9}, [0], (1,2,3), set({1,2,3,2})]

In [44]:
list2[3].append(5)
list2

['1', 5, {'a': 9}, [0, 5, 5], (1, 2, 3), {1, 2, 3}]

# set

In [2]:
set1 = {1,2,3}

In [28]:
set2 = {1,2,3}
type(set2)
set2

{1, 2, 3}

In [31]:
list(set([1,2,3,1]))

[1, 2, 3]

# dict

In [23]:
dict1 = {"key1":"value1", "key2":"value2"}
dict1

{'key1': 'value1', 'key2': 'value2'}

In [24]:
dict2 = {"key1": 1}
dict2_ = {(1,2): "1"}

In [25]:
dict3 = {"key1":1, "key2":"2", "key3":[3], "key4":set({4}), "key5":{"key6":(6,7)} }

### How to reverse a dict

In [74]:
# Method 1
[(v,k) for (k,v) in dict1.items()]
#dict([(v,k) for (k,v) in dict1.items()])

[('value1', 'key1'), ('value2', 'key2')]

In [76]:
# Method 2
dict(zip(dict1.values(), dict1.keys()))

{'value1': 'key1', 'value2': 'key2'}

In [ ]:
# Method 3
from itertools import zip_longest
dict(zip_longest(dict1.values(), dict1.keys()))

# tuple

In [45]:
tuple1 = (1,2,3)
type(tuple1)

tuple

In [49]:
tuple1[1]

2

In [47]:
tuple2 = ("a", 1, [1,2])
tuple2

('a', 1, [1, 2])

In [54]:
tuple2[] = 1

TypeError: 'tuple' object does not support item assignment

In [52]:
tuple2

('a', 1, [1, 2, 1])

In [61]:
def f(x):
    print(type(x))

In [63]:
f(**[1,2,3])

TypeError: f() argument after ** must be a mapping, not list

In [ ]:
"What's the difference between * and **?"

# String Formatting

In [4]:
"{}, {}. {}".format("a", "c", "b")

'a, c. b'

In [8]:
"{}:{}:{}".format(*("2020", "01", "02"))

'2020:01:02'

In [9]:
"{1} {0} {2} {0}".format("hello", "world", "!")

'world hello ! hello'

In [11]:
"姓名:{name}, 年龄:{age}".format(age = 22, name="hao")

'姓名:hao, 年龄:22'

In [12]:
"姓名:{name}, 年龄:{age}".format(**{"name":"hao", "age":22})

'姓名:hao, 年龄:22'

In [13]:
"姓名:{0[0]}, 年龄:{1[1]}".format(["hao", 23], ["dake", 22])

'姓名:hao, 年龄:22'

In [15]:
print("{:.2f}".format(3.1455926))

3.15

In [18]:
print("{:>5d}".format(1))

    1

In [19]:
print("{:0>6.2f}".format(3.145))

003.15

In [20]:
print("{:x<6.3f}".format(6.0))

6.000x

In [22]:
print("{:-,}".format(-1000000))

-1,000,000

In [23]:
print("{:+.5%}".format(0.25))

+25.00000%

In [24]:
print("{:.2e}".format(1500000))

1.50e+06

In [25]:
print("{:*^10.1f}".format(5.15))

***5.2****

In [26]:
print('{:b}'.format(11))

1011

In [27]:
print('{:x}'.format(11))

b

In [28]:
print("{{hello}}, {}".format("world"))

{hello}, world

In [29]:
"Today is %s" % "2nd Jan 2020"

'Today is 2nd Jan 2020'

In [32]:
print("string:%.2s, int:%i or %-10d, float:%10.2f, " %("hello", 1, 10, 2.115))

string:he, int:1 or 10        , float:      2.12,

In [34]:
# dynamic string format template
string = "{:{fill}{align}{width}}"

# passing format codes as arguments
print(string.format('cat', fill='*', align='^', width=5))

*cat*

In [35]:
# dynamic float format template
num = "{:{align}{width}.{precision}f}"

# passing format codes as arguments
print(num.format(123.236, align='<', width=8, precision=2))

123.24

In [37]:
print("Quotes: {0!r}, Without Quotes: {0!s}".format("cat"))

Quotes: "'cat'", Without Quotes: 'cat'