In [1]:
import csv
fifa_file = open('Fifa18.csv', encoding='utf-8')
file_reader = csv.reader(fifa_file)
player_data = list(file_reader)
header = player_data[0]
player_data = player_data[1:]
for row in player_data:
    for idx in [2,6,7,8]:
        row[idx] = float(row[idx])

In [2]:
#q1: what is the name of the oldest player?
player_age = 0
k = 0
for i in range(len(player_data)):
    if player_age <= player_data[i][2]:
        player_age = player_data[i][2]
        k = i
player_data[k][1]

'B. Richardson'

In [3]:
#q2: what is the name of the highest-paid player?
player_pay = 0
k = 0
for i in range(len(player_data)):
    if player_pay < player_data[i][6]:
        player_pay = player_data[i][6]
        k = i
player_data[k][1]

'Cristiano Ronaldo'

In [4]:
#q3: what is the name of the highest net-worth player?
player_worth = 0
k = 0
for i in range(len(player_data)):
    if player_worth < player_data[i][7]:
        player_worth = player_data[i][7]
        k = i
player_data[k][1]

'Neymar'

In [5]:
#q4: what club is that player in?
player_data[k][4]

'Paris Saint-Germain'

In [6]:
def get_column(col_idx):
    column = []
    for i in range(len(player_data)):
        column.append(player_data[i][int(col_idx)])
    return column

In [7]:
#q5: what are the first five nationalities listed in the dataset?
get_column(3)[:5]

['Portugal', 'Argentina', 'Brazil', 'Uruguay', 'Germany']

In [8]:
#q6: which five names are alphabetically first in the dataset?
sorted(get_column(1))[0:5]

['A. Abbas', 'A. Abbas', 'A. Abdallah', 'A. Abdennour', 'A. Abdi']

In [9]:
#q7: what is the average net worth?
sum(get_column(7)) / len(get_column(7))

2407282.6149178543

In [10]:
#q8: what is the average age?
sum(get_column(2)) / len(get_column(2))

25.133264640219817

In [11]:
def player_count(ctry):
    n = 0
    for i in range(len(player_data)):
        if player_data[i][3] == ctry:
            n += 1
    return n

In [12]:
#q9: how many players have Portugal as their nationality?
player_count("Portugal")

355

In [13]:
#q10: how many players have Brazil as their nationality?
player_count("Brazil")

800

In [14]:
#q11: which country has the most players participating in FIFA18?
country_list = list(set(get_column(3)))
country_dict = {}
for i in country_list:
    country_dict[i] = player_count(i)
country_sorted = sorted(country_dict.items(), key = lambda x:x[1], reverse = True)
country_sorted[0][0]

'England'

In [15]:
def player_to_dict(player_idx):
    player_dict = {}
    for i in range(len(player_data)):
        if int(player_data[i][0]) == player_idx:
            for j in range(9):
                player_dict[header[j]] = player_data[i][j]
    return player_dict

In [16]:
#q12: what are the stats for the player with Id equal to 20801?
player_to_dict(20801)

{'Id': '20801',
 'name': 'Cristiano Ronaldo',
 'Age': 32.0,
 'nationality': 'Portugal',
 'club': 'Real Madrid CF',
 'league': 'Spanish Primera División',
 'euro_wage': 565000.0,
 'networth': 95500000.0,
 'score_of_100': 94.0}

In [17]:
#q13: what are the stats for the player with Id equal to 190871?
player_to_dict(190871)

{'Id': '190871',
 'name': 'Neymar',
 'Age': 25.0,
 'nationality': 'Brazil',
 'club': 'Paris Saint-Germain',
 'league': 'French Ligue 1',
 'euro_wage': 280000.0,
 'networth': 123000000.0,
 'score_of_100': 92.0}

In [18]:
#q14: what are the stats for the player with Id equal to 158023?
player_to_dict(158023)

{'Id': '158023',
 'name': 'L. Messi',
 'Age': 30.0,
 'nationality': 'Argentina',
 'club': 'FC Barcelona',
 'league': 'Spanish Primera División',
 'euro_wage': 565000.0,
 'networth': 105000000.0,
 'score_of_100': 93.0}

In [19]:
#q15: what are the stats for the player with Id equal to 192985?
player_to_dict(192985)

{'Id': '192985',
 'name': 'K. De Bruyne',
 'Age': 26.0,
 'nationality': 'Belgium',
 'club': 'Manchester City',
 'league': 'English Premier League',
 'euro_wage': 285000.0,
 'networth': 83000000.0,
 'score_of_100': 89.0}

In [20]:
#q16: how many players are there per nationality?
country_dict

{'Vietnam': 1,
 'Gibraltar': 2,
 'Luxembourg': 8,
 'Venezuela': 41,
 'Libya': 2,
 'Argentina': 948,
 'Slovakia': 64,
 'Cuba': 2,
 'Korea Republic': 316,
 'Israel': 12,
 'Hong Kong': 1,
 'Kuwait': 2,
 'Chile': 367,
 'Ivory Coast': 94,
 'Barbados': 1,
 'Romania': 49,
 'Slovenia': 62,
 'Netherlands': 425,
 'Somalia': 1,
 'Montserrat': 4,
 'Guinea': 25,
 'Sri Lanka': 1,
 'Kenya': 7,
 'Burundi': 1,
 'El Salvador': 2,
 'Canada': 49,
 'Mauritania': 2,
 'Japan': 469,
 'Mozambique': 3,
 'Bulgaria': 20,
 'Equatorial Guinea': 6,
 'Jamaica': 37,
 'Ukraine': 49,
 'Curacao': 11,
 'Tanzania': 2,
 'Serbia': 132,
 'Mauritius': 1,
 'Korea DPR': 6,
 'Palestine': 4,
 'Scotland': 291,
 'Senegal': 126,
 'Latvia': 6,
 'Albania': 35,
 'Kyrgyzstan': 1,
 'Northern Ireland': 85,
 'Germany': 1132,
 'Zambia': 7,
 'Wales': 122,
 'Georgia': 31,
 'Italy': 792,
 'Turkey': 288,
 'Cape Verde': 22,
 'Afghanistan': 3,
 'Niger': 3,
 'Azerbaijan': 7,
 'FYR Macedonia': 17,
 'Peru': 16,
 'Namibia': 2,
 'DR Congo': 57,
 'Morocco': 77,
 'Eritrea': 1,
 'China PR': 4,
 'Benin': 14,
 'Turkmenistan': 1,
 'Haiti': 14,
 'Gabon': 12,
 'South Africa': 62,
 'Swaziland': 1,
 'Malta': 3,
 'Liechtenstein': 3,
 'Hungary': 24,
 'Cyprus': 11,
 'Uruguay': 150,
 'Chad': 2,
 'Portugal': 355,
 'Brazil': 800,
 'Uganda': 4,
 'Republic of Ireland': 408,
 'Gambia': 15,
 'Grenada': 1,
 'Central African Rep.': 4,
 'Philippines': 3,
 'New Zealand': 30,
 'Norway': 329,
 'Lithuania': 12,
 'Costa Rica': 29,
 'Croatia': 107,
 'Guinea Bissau': 15,
 'Congo': 21,
 'Ethiopia': 2,
 'Bosnia Herzegovina': 55,
 'Puerto Rico': 2,
 'Russia': 305,
 'Spain': 995,
 'Belize': 1,
 'Belgium': 260,
 'Togo': 8,
 'Qatar': 6,
 'Nigeria': 126,
 'Montenegro': 25,
 'Kazakhstan': 3,
 'Algeria': 56,
 'Paraguay': 60,
 'Trinidad & Tobago': 9,
 'Zimbabwe': 10,
 'Madagascar': 4,
 'Estonia': 8,
 'São Tomé & Príncipe': 1,
 'St Kitts Nevis': 3,
 'Belarus': 9,
 'Saudi Arabia': 321,
 'Guyana': 5,
 'Tunisia': 31,
 'Egypt': 20,
 'Syria': 4,
 'Dominican Republic': 3,
 'Iraq': 8,
 'United States': 379,
 'Oman': 1,
 'Liberia': 2,
 'Antigua & Barbuda': 4,
 'Lebanon': 5,
 'Poland': 332,
 'England': 1582,
 'Switzerland': 228,
 'Comoros': 9,
 'Sweden': 366,
 'Greece': 95,
 'St Lucia': 1,
 'Austria': 262,
 'New Caledonia': 2,
 'France': 962,
 'Ghana': 113,
 'Iran': 17,
 'Mexico': 360,
 'Angola': 15,
 'Mali': 46,
 'Armenia': 14,
 'Bermuda': 4,
 'Thailand': 2,
 'Burkina Faso': 14,
 'Guam': 1,
 'Sudan': 2,
 'San Marino': 1,
 'Sierra Leone': 9,
 'Panama': 16,
 'Bolivia': 2,
 'Colombia': 589,
 'Finland': 60,
 'Guatemala': 1,
 'Faroe Islands': 6,
 'Fiji': 1,
 'Uzbekistan': 5,
 'Denmark': 343,
 'Kosovo': 32,
 'Ecuador': 25,
 'Iceland': 52,
 'Australia': 222,
 'Czech Republic': 63,
 'Moldova': 6,
 'Suriname': 3,
 'Cameroon': 78,
 'Honduras': 13}

In [21]:
def player_count_1(index, col):
    n = 0
    for i in range(len(player_data)):
        if player_data[i][col] == index:
            n += 1
    return n
def idx_count(idx_name):
    idx = header.index(idx_name)
    idx_list = list(set(get_column(idx)))
    idx_dict = {}
    for i in idx_list:
        idx_dict[i] = player_count_1(i,idx)
    return idx_dict

In [22]:
#q17: how many players are there per league?
idx_count('league')

{'Colombian Primera A': 551,
 'Argentinian Superliga': 771,
 'Spanish Segunda División': 624,
 'German 2. Bundesliga': 509,
 'English League One': 641,
 'Ukrainian Premier League': 24,
 'Campeonato Brasileiro Série A': 320,
 'Polish Ekstraklasa': 414,
 'Rep. Ireland Premier Division': 284,
 'Saudi Professional League': 405,
 'Japanese J1 League': 518,
 'Swiss Super League': 257,
 'Austrian Bundesliga': 255,
 'Portuguese Primeira Liga': 503,
 'English Championship': 706,
 'English League Two': 615,
 'German Bundesliga': 523,
 'Australian A-League': 226,
 'Greek Super League': 109,
 'Russian Premier League': 447,
 'Danish Superliga': 362,
 'Belgian First Division A': 430,
 'South African PSL': 51,
 'Korean K League Classic': 322,
 'Holland Eredivisie': 484,
 'USA Major League Soccer': 624,
 'Norwegian Eliteserien': 392,
 'German 3. Liga': 513,
 'Mexican Liga MX': 515,
 'French Ligue 1': 589,
 'Turkish Süper Lig': 493,
 'Czech Liga': 27,
 'Italian Serie A': 554,
 'Chilian Primera División': 320,
 'Swedish Allsvenskan': 385,
 'Italian Serie B': 618,
 'Spanish Primera División': 582,
 'French Ligue 2': 535,
 'Scottish Premiership': 310,
 'Finnish Veikkausliiga': 27,
 'English Premier League': 634}

In [23]:
#q18: what is the average player wage per league?
league_list = list(set(get_column(5)))
league_sumwage_dict = {}
league_avewage_dict = {}
for i in range(len(player_data)):
    if player_data[i][5] not in league_sumwage_dict.keys():
        league_sumwage_dict[player_data[i][5]] = 0
    league_sumwage_dict[player_data[i][5]] = league_sumwage_dict[player_data[i][5]] + float(player_data[i][6])
for i in league_list:
    league_avewage_dict[i] = league_sumwage_dict[i] / idx_count('league')[i]
league_avewage_dict

{'Colombian Primera A': 1916.5154264972778,
 'Argentinian Superliga': 6832.684824902723,
 'Spanish Segunda División': 5915.0641025641025,
 'German 2. Bundesliga': 7766.2082514734775,
 'English League One': 3663.0265210608422,
 'Ukrainian Premier League': 1000.0,
 'Campeonato Brasileiro Série A': 15515.625,
 'Polish Ekstraklasa': 3190.8212560386473,
 'Rep. Ireland Premier Division': 1049.2957746478874,
 'Saudi Professional League': 8928.395061728395,
 'Japanese J1 League': 3030.8880308880307,
 'Swiss Super League': 6774.31906614786,
 'Austrian Bundesliga': 6054.901960784314,
 'Portuguese Primeira Liga': 7570.576540755467,
 'English Championship': 16702.54957507082,
 'English League Two': 3068.2926829268295,
 'German Bundesliga': 31177.820267686424,
 'Australian A-League': 3092.920353982301,
 'Greek Super League': 1000.0,
 'Russian Premier League': 19612.97539149888,
 'Danish Superliga': 5102.209944751381,
 'Belgian First Division A': 8953.488372093023,
 'South African PSL': 1000.0,
 'Korean K League Classic': 3043.478260869565,
 'Holland Eredivisie': 6842.975206611571,
 'USA Major League Soccer': 4052.8846153846152,
 'Norwegian Eliteserien': 1936.2244897959183,
 'German 3. Liga': 1136.4522417153996,
 'Mexican Liga MX': 14885.436893203883,
 'French Ligue 1': 20843.803056027165,
 'Turkish Süper Lig': 16582.150101419877,
 'Czech Liga': 1000.0,
 'Italian Serie A': 35981.94945848375,
 'Chilian Primera División': 4800.0,
 'Swedish Allsvenskan': 2218.181818181818,
 'Italian Serie B': 3788.0258899676373,
 'Spanish Primera División': 37104.810996563574,
 'French Ligue 2': 3330.841121495327,
 'Scottish Premiership': 7154.8387096774195,
 'Finnish Veikkausliiga': 1000.0,
 'English Premier League': 58705.047318611985}

In [24]:
#q19: what is the average player age per league?
league_list = list(set(get_column(5)))
league_sumage_dict = {}
league_aveage_dict = {}
for i in range(len(player_data)):
    if player_data[i][5] not in league_sumage_dict.keys():
        league_sumage_dict[player_data[i][5]] = 0
    league_sumage_dict[player_data[i][5]] = league_sumage_dict[player_data[i][5]] + float(player_data[i][2])
for i in league_list:
    league_aveage_dict[i] = league_sumage_dict[i] / idx_count('league')[i]
league_aveage_dict

{'Colombian Primera A': 25.76043557168784,
 'Argentinian Superliga': 25.325551232166017,
 'Spanish Segunda División': 25.05128205128205,
 'German 2. Bundesliga': 24.557956777996072,
 'English League One': 24.279251170046802,
 'Ukrainian Premier League': 25.958333333333332,
 'Campeonato Brasileiro Série A': 28.975,
 'Polish Ekstraklasa': 25.70048309178744,
 'Rep. Ireland Premier Division': 24.010563380281692,
 'Saudi Professional League': 25.760493827160495,
 'Japanese J1 League': 26.65057915057915,
 'Swiss Super League': 24.136186770428015,
 'Austrian Bundesliga': 24.094117647058823,
 'Portuguese Primeira Liga': 25.05765407554672,
 'English Championship': 24.923512747875353,
 'English League Two': 24.357723577235774,
 'German Bundesliga': 24.137667304015295,
 'Australian A-League': 25.52654867256637,
 'Greek Super League': 25.339449541284402,
 'Russian Premier League': 25.55704697986577,
 'Danish Superliga': 24.26795580110497,
 'Belgian First Division A': 24.05581395348837,
 'South African PSL': 26.80392156862745,
 'Korean K League Classic': 26.267080745341616,
 'Holland Eredivisie': 23.264462809917354,
 'USA Major League Soccer': 26.009615384615383,
 'Norwegian Eliteserien': 24.252551020408163,
 'German 3. Liga': 24.142300194931774,
 'Mexican Liga MX': 25.833009708737865,
 'French Ligue 1': 24.31239388794567,
 'Turkish Süper Lig': 26.4868154158215,
 'Czech Liga': 27.333333333333332,
 'Italian Serie A': 25.21119133574007,
 'Chilian Primera División': 28.975,
 'Swedish Allsvenskan': 24.97142857142857,
 'Italian Serie B': 25.042071197411005,
 'Spanish Primera División': 25.015463917525775,
 'French Ligue 2': 24.82429906542056,
 'Scottish Premiership': 24.625806451612902,
 'Finnish Veikkausliiga': 23.59259259259259,
 'English Premier League': 24.832807570977916}

In [25]:
#q20: which league has the highest average age?
sorted(league_aveage_dict.items(), key = lambda x:x[1], reverse = True)[0][0]

'Campeonato Brasileiro Série A'