# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [6]:
import pandas as pd
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [8]:
chipo = pd.read_csv(url, sep = '\t')

### Step 4. See the first 10 entries

In [ ]:
len(chipo)
chipo.loc[]
chipo.iloc[-1:]

### Step 5. What is the number of observations in the dataset?

In [12]:
# Solution 1

5

In [2]:
# Solution 2

### Step 6. What is the number of columns in the dataset?

In [ ]:
len(chipo.columns)

### Step 7. Print the name of all the columns.

In [ ]:
chipo.columns

### Step 8. How is the dataset indexed?

In [13]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [30]:
chipo.groupby(by='item_name').sum()
chipo.loc[:,['item_name','quantity']].groupby(by='item_name').sum().sort_values(['quantity'],ascending = False)

                                       quantity
item_name
Chicken Bowl                                761
Chicken Burrito                             591
Chips and Guacamole                         506
Steak Burrito                               386
Canned Soft Drink                           351
Chips                                       230
Steak Bowl                                  221
Bottled Water                               211
Chips and Fresh Tomato Salsa                130
Canned Soda                                 126
Chicken Salad Bowl                          123
Chicken Soft Tacos                          120
Side of Chips                               110
Veggie Burrito                               97
Barbacoa Burrito                             91
Veggie Bowl                                  87
Carnitas Bowl                                71
Barbacoa Bowl                                66
Carnitas Burrito                             60
Steak Soft Tacos                             56
6 Pack Soft Drink                            55
Chips and Tomatillo Red Chili Salsa          50
Chicken Crispy Tacos                         50
Chips and Tomatillo Green Chili Salsa        45
Carnitas Soft Tacos                          40
Steak Crispy Tacos                           36
Chips and Tomatillo-Green Chili Salsa        33
Steak Salad Bowl                             31
Nantucket Nectar                             29
Chips and Tomatillo-Red Chili Salsa          25
Barbacoa Soft Tacos                          25
Chips and Roasted Chili Corn Salsa           23
Izze                                         20
Veggie Salad Bowl                            18
Chips and Roasted Chili-Corn Salsa           18
Barbacoa Crispy Tacos                        12
Barbacoa Salad Bowl                          10
Chicken Salad                                 9
Carnitas Crispy Tacos                         8
Veggie Soft Tacos                             8
Burrito                                       6
Veggie Salad                                  6
Carnitas Salad Bowl                           6
Bowl                                          4
Steak Salad                                   4
Salad                                         2
Crispy Tacos                                  2
Chips and Mild Fresh Tomato Salsa             1
Carnitas Salad                                1
Veggie Crispy Tacos                           1

### Step 10. For the most-ordered item, how many items were ordered?

### Step 11. What was the most ordered item in the choice_description column?

In [ ]:
chipo.choice

### Step 12. How many items were orderd in total?

In [ ]:
chipo.quantity.sum()

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [17]:
type(chipo.item_price[0])

str

#### Step 13.b. Create a lambda function and change the type of item price

In [20]:
float(chipo.item_price[0][1:])
chipo.item_price.apply(lambda x: float(x[1:].strip()))

2.39

#### Step 13.c. Check the item price type

### Step 14. How much was the revenue for the period in the dataset?

In [21]:
chipo.item_price.apply(lambda x: float(x[1:].strip())).sum()

34500.16

### Step 15. How many orders were made in the period?

In [22]:
chipo.order_id[len(chipo)]
chipo.iloc[-1,0]

1834

### Step 16. What is the average revenue amount per order?

In [3]:
# Solution 1
#chipo.item_price = chipo.item_price.apply(lambda x: float(x[1:].strip()))
chipo.groupby(by='order_id').item_price.mean()

In [4]:
# Solution 2
chipo.item_price.sum() / chipo.iloc[-1,0]
#groupby methods

### Step 17. How many different items are sold?

In [23]:
chipo.item_name.describe()

count             4622
unique              50
top       Chicken Bowl
freq               726
Name: item_name, dtype: object

In [31]:
chipo.groupby(by = 'item_name').sum().reset_index() #inplace = True

                                item_name  order_id  quantity
0                       6 Pack Soft Drink     52322        55
1                           Barbacoa Bowl     53972        66
2                        Barbacoa Burrito     74718        91
3                   Barbacoa Crispy Tacos      5613        12
4                     Barbacoa Salad Bowl      9708        10
5                     Barbacoa Soft Tacos     18725        25
6                           Bottled Water    175944       211
7                                    Bowl       472         4
8                                 Burrito      1550         6
9                             Canned Soda     76396       126
10                      Canned Soft Drink    304753       351
11                          Carnitas Bowl     62742        71
12                       Carnitas Burrito     51652        60
13                  Carnitas Crispy Tacos      5868         8
14                         Carnitas Salad      1500         1
15                    Carnitas Salad Bowl      6693         6
16                    Carnitas Soft Tacos     37673        40
17                           Chicken Bowl    713926       761
18                        Chicken Burrito    497303       591
19                   Chicken Crispy Tacos     47382        50
20                          Chicken Salad     10465         9
21                     Chicken Salad Bowl    117104       123
22                     Chicken Soft Tacos     98395       120
23                                  Chips    208004       230
24           Chips and Fresh Tomato Salsa    100419       130
25                    Chips and Guacamole    449959       506
26      Chips and Mild Fresh Tomato Salsa       279         1
27     Chips and Roasted Chili Corn Salsa     14999        23
28     Chips and Roasted Chili-Corn Salsa     17462        18
29  Chips and Tomatillo Green Chili Salsa     41170        45
30    Chips and Tomatillo Red Chili Salsa     45556        50
31  Chips and Tomatillo-Green Chili Salsa     21826        33
32    Chips and Tomatillo-Red Chili Salsa     18344        25
33                           Crispy Tacos       434         2
34                                   Izze     10587        20
35                       Nantucket Nectar     21814        29
36                                  Salad      1150         2
37                          Side of Chips     84769       110
38                             Steak Bowl    193752       221
39                          Steak Burrito    328437       386
40                     Steak Crispy Tacos     35818        36
41                            Steak Salad      2362         4
42                       Steak Salad Bowl     29590        31
43                       Steak Soft Tacos     50177        56
44                            Veggie Bowl     72270        87
45                         Veggie Burrito     80962        97
46                    Veggie Crispy Tacos       668         1
47                           Veggie Salad      7265         6
48                      Veggie Salad Bowl     17303        18
49                      Veggie Soft Tacos      5520         8

In [24]:
len(chipo.item_name.drop_duplicates()) #inplce=True

0                Chips and Fresh Tomato Salsa
1                                        Izze
2                            Nantucket Nectar
3       Chips and Tomatillo-Green Chili Salsa
4                                Chicken Bowl
6                               Side of Chips
7                               Steak Burrito
8                            Steak Soft Tacos
10                        Chips and Guacamole
11                       Chicken Crispy Tacos
12                         Chicken Soft Tacos
16                            Chicken Burrito
18                                Canned Soda
21                           Barbacoa Burrito
27                           Carnitas Burrito
33                              Carnitas Bowl
34                              Bottled Water
38      Chips and Tomatillo Green Chili Salsa
39                              Barbacoa Bowl
40                                      Chips
44                         Chicken Salad Bowl
54                                 Steak Bowl
56                        Barbacoa Soft Tacos
57                             Veggie Burrito
62                                Veggie Bowl
92                         Steak Crispy Tacos
111       Chips and Tomatillo Red Chili Salsa
168                     Barbacoa Crispy Tacos
186                         Veggie Salad Bowl
191        Chips and Roasted Chili-Corn Salsa
233        Chips and Roasted Chili Corn Salsa
237                       Carnitas Soft Tacos
250                             Chicken Salad
263                         Canned Soft Drink
281                          Steak Salad Bowl
298                         6 Pack Soft Drink
300       Chips and Tomatillo-Red Chili Salsa
445                                      Bowl
510                                   Burrito
520                              Crispy Tacos
554                     Carnitas Crispy Tacos
664                               Steak Salad
674         Chips and Mild Fresh Tomato Salsa
738                         Veggie Soft Tacos
1132                      Carnitas Salad Bowl
1229                      Barbacoa Salad Bowl
1414                                    Salad
1653                      Veggie Crispy Tacos
1694                             Veggie Salad
3750                           Carnitas Salad
Name: item_name, dtype: object